*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

h1{
    color: #a378d9;
    text-align: center;
    margin: 30px 0 0 0;
}

h2, h3 {
    color: #9151e1;
    text-align: center;
    margin: 20px auto;
}

p{
    color: white;
    margin: 20px 0;
    text-align: center;
    font-weight: 1rem;
}

nav{
    color: white;
    text-align: center;


}

nav ul li{
    display: inline-block;
    margin: 10px 15px;
    font-size: 1.5rem;

}
=======
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

h1{
    color: #a378d9;
    text-align: center;
    margin: 30px 0 0 0;
}

h2, h3 {
    color: #9151e1;
    text-align: center;
    margin: 20px auto;
}

p{
    color: white;
    margin: 20px 0;
    text-align: center;
    font-weight: 1rem;
}

nav{
    color: white;
    text-align: center;


}

nav ul li{
    display: inline-block;
    margin: 10px 15px;
    font-size: 1.5rem;

}